{% extends "layout.html" %}
{% block content %}
	<h1> HOME PAGE from template</h1>

	<table>
 		 <tr>
    		<th>Company</th>
    		<th>Contact</th>
   		    <th>Country</th>
  		 </tr>
	</table>

{% endblock content %}