<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>QCTool - {{ title }}</title>
	{% else %}
	<title>QCTool</title>
	{% endif %}
</head>
<body>
	{% block content %}
		
	{% endblock %}
</body>
</html>